@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
ul {
  list-style-type: none;
}
#container {
  border: 2px solid;
  width: 500px;
  height: auto;
  margin: 20px 10px;
  padding: 10px 20px;
}
.showresualt {
  width: 450px;
  height: 100px;
  border: 2px solid wheat;
}

/* .special {  
   grid-area: 1 / 2 / 2 / 3; /* row start / column start / row end / column end */
.mohasebat ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, auto);
}
/* .mohasebat ul .setaaval,
.mohasebat ul .setadovom,
.mohasebat ul .setasevom {
  @apply font-sans font-semibold;
} */
.mohasebat ul .setaaval {
  display: gridd;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(1, auto);
  gap: 10px;
}
.mohasebat ul .setadovom {
  display: gridd;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(1, auto);
  gap: 10px;
}
.mohasebat ul .setasevom {
  display: gridd;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(1, auto);
  gap: 10px;
}
.mohasebat ul .side {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(1, auto);
}

/* .adad1,
.adad2,
.adad3 {
  grid-column: 1/2;
}
.adad4,
.adad5,
.adad6 {
}
.adad7,
.adad8,
.adad9 {
} */
