@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
ul {
  list-style-type: none;
}
#container {
  border-radius: 5px;
  width: 400px;
  height: auto;
  margin: 20px 10px;
  padding: 30px 20px;
}
.showresualt {
  width: auto;
  margin-bottom: 20px;
  height: 100px;
  border-radius: 5px;
  border: 2px solid rgb(255, 217, 0);
}

/* .special {  
   grid-area: 1 / 2 / 2 / 3; /* row start / column start / row end / column end */
.mohasebat ul {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, auto);
}
/* .mohasebat ul .setaaval,
.mohasebat ul .setadovom,
.mohasebat ul .setasevom {
  @apply font-sans font-semibold;
} */
.mohasebat ul .setaaval {
  display: gridd;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(1, auto);
  gap: 10px;
}
.mohasebat ul .setadovom {
  display: gridd;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(1, auto);
  gap: 10px;
}
.mohasebat ul .setasevom {
  display: gridd;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(1, auto);
  gap: 10px;
}
.mohasebat ul .side {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(1, auto);
}

/* button */
.setaaval button[type="button"],
.setadovom button[type="button"],
.setadovom button[type="button"] {
  width: 10;
  height: 10;
}
.side button[type="button"] {
  width: 20;
  height: 20;
}
.setaaval li,
.setadovom li,
.setasevom li {
  font-size: 25px;
}
